@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Satoshi;
	src: url('./fonts/OTF/Satoshi-Black.otf') format('otf'),
}

.container {
	@apply max-w-6xl;
}


:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: Satoshi, sans-serif;

	@apply bg-black-main text-white;
}

.field {
	width: 100%;
	max-width: 380px;
	height: 40px;
	margin: 0;
	padding: 15px 20px;

	color: inherit;
	border: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	background-color: #30313C;

	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.field::placeholder {
	color: #9B9D9F;
}

.field:focus {
	border: 1px solid #884DFE;
}

.field::after {
	background: transparent url("./../assets/icons/search.svg") no-repeat 13px;
}

.header {
	border-bottom: 1px solid #313442
}

.btn {
	width: 100%;
	max-width: 638px;
	padding: 14px;

	transition: 0.5s;

	border-radius: 4px;
	background-color: #A139FD;
	box-shadow: rgb(0 0 0 / 8%);
}

.btn:hover {
	background-color: rgb(103 10 185);
}

.form {
	display: grid;

	box-sizing: border-box;
	padding: 2rem;

	border-radius: 1rem;
	background-color: #272934;
	grid-template-columns: 1fr;
}

.category-list{
	display: flex;
	flex:1;
	justify-content: space-between;

	width: 100%;
	max-width: 638px;
	height: 68px;
	padding: 12px 20px;

	border: 2px solid #323443;
	background: #24252E;
}